<html>
  <head>
    <title>Addition of two numbers</title>
  </head>
  <body>
    <h1>Addition of two numbers </h1>
      
      {% if form.errors %}
        <p style="color: red">
          Please correct the error{{ form.errors|pluralize }} below.
        </p>
        {% endif %}
    <p style="color: red"> Provide the numbers
        <form action="" method="post">
        {% csrf_token %}
          <table>
          {{ form.as_table }}
          </table>
        <input type="submit" value="Submit">
        </form>
  </body>
</html>
